<div class="blade-static __bottom" ng-if="!blade.catalog.isVirtual">
  <button class="btn" ng-click="startImport()" ng-disabled="!blade.canImport">
    {{ 'catalogCsvImportModule.commands.start-import' | translate }}
  </button>
</div>
<div class="blade-content">
  <div class="blade-inner">
    <div class="inner-block" ng-if="!blade.catalog.isVirtual">
      <form name="importWizardForm" class="form">
        <fieldset ng-init="setForm(importWizardForm)">
          <label class="form-label">{{ 'catalogCsvImportModule.wizards.catalog-CSV-import.labels.delimiter' | translate }}</label>
          <ui-select required ng-model="blade.columnDelimiter">
            <ui-select-match placeholder="{{ 'catalogCsvImportModule.wizards.catalog-CSV-import.placeholders.delimiter' | translate }}">{{$select.selected.name | translate}}</ui-select-match>
            <ui-select-choices repeat="x.value as x in columnDelimiters | filter: { name: $select.search }">
              <span ng-bind-html="x.name | translate | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </fieldset>

        <fieldset ng-disabled="!blade.columnDelimiter">
          <label class="form-label">{{ 'catalogCsvImportModule.wizards.catalog-CSV-import.labels.upload' | translate }}</label>
          <div ng-show="!uploader.isUploading">
            <input type="file" id="csvFileInput" nv-file-select uploader="uploader" accept=".csv" style="display: none">
            <label for="csvFileInput" class="well my-drop-zone panel drag-area drag-area--clickable csv-import-drop-zone" uploader="uploader" nv-file-drop nv-file-over>
              <div class="drag-content">
                <i class="fas fa-cloud-upload-alt drag-area-icon"></i>
                <div class="drag-area-primary">{{ 'catalogCsvImportModule.wizards.catalog-CSV-import.labels.drag-or-browse' | translate }}</div>
                <div class="drag-area-secondary">{{ 'catalogCsvImportModule.wizards.catalog-CSV-import.labels.drag-note-detail' | translate }}</div>
              </div>
            </label>
            <div class="form-group" ng-if="blade.csvFileName">
              <label class="form-label">{{ 'catalogCsvImportModule.wizards.catalog-CSV-import.labels.uploaded-file' | translate }}</label>
              <div class="form-text csv-import-file-name" title="{{ blade.csvFileName }}">{{ blade.csvFileName }}</div>
            </div>
          </div>
          <div ng-show="uploader.isUploading">
            <div class="sub-t">{{ 'catalogCsvImportModule.wizards.catalog-CSV-import.labels.upload-progress' | translate }}</div>
            <div class="progress-bar __aqua" ng-style="{'width': uploader.progress + '%'}" style="width: 0%;"></div>
          </div>
        </fieldset>

      </form>

      <ul class="list __items">
        <li class="list-item" ng-click="openMappingStep()" ng-class="{'__disabled': !canMapColumns()}">
          <span class="list-t">{{ 'catalogCsvImportModule.wizards.catalog-CSV-import.labels.map-columns' | translate }}</span>
          <span class="list-descr">{{ 'catalogCsvImportModule.wizards.catalog-CSV-import.labels.define-columns' | translate }}</span>
        </li>
      </ul>
    </div>
    <div class="warning-block" ng-if="blade.catalog.isVirtual">
      <i class="fas fa-exclamation-triangle icon"></i>
      <span class="note"> {{ 'catalogCsvImportModule.blades.catalog-CSV-import.labels.virtual-catalog-warning' | translate }}</span>
    </div>
  </div>
</div>
